# assiment
# Python Basic Exercise for Beginners

# Exercise 1: Calculate the multiplication and sum of two numbers

In [4]:
def mul_sum (num1,num2):
    return num1+num2,num1*num2
print("The result is :-",mul_sum(5,7))

The result is :- (12, 35)

# Exercise 2: Print the sum of the current number and the previous number

In [8]:
for equation in range(1,11):
    previous_num=equation-1
    rusalt=equation+previous_num
    
    print("Current Number is: ", equation , " Previous Number is: ", previous_num, " Sum is: ",rusalt)

Current Number is:  1  Previous Number is:  0  Sum is:  1
Current Number is:  2  Previous Number is:  1  Sum is:  3
Current Number is:  3  Previous Number is:  2  Sum is:  5
Current Number is:  4  Previous Number is:  3  Sum is:  7
Current Number is:  5  Previous Number is:  4  Sum is:  9
Current Number is:  6  Previous Number is:  5  Sum is:  11
Current Number is:  7  Previous Number is:  6  Sum is:  13
Current Number is:  8  Previous Number is:  7  Sum is:  15
Current Number is:  9  Previous Number is:  8  Sum is:  17
Current Number is:  10  Previous Number is:  9  Sum is:  19

# Exercise 3: Print characters from a string that are present at an even index number

In [9]:
char =input("please Enter your Damn charactares ")
z=list(char)
for count in z[0::2]:
    print(count)

please Enter your Damn charactares saka
s
k

# Exercise 4: Remove first n characters from a string

In [12]:
char = input("Enter word ")
num = int(input("Enter the scanner "))
l=list(char)

for count in l[num::]:
    print(count)

Enter word elsaka
Enter the scanner 3
a
k
a

# Exercise 5: Check if the first and last number of a list is the same

In [13]:
num_of_list=[10,20,30,40,50,60,10]
first_list=num_of_list[0]
last_list=num_of_list[-1]

if first_list == last_list:
        print("True")
else:
        print("False")

True

# Exercise 5: Check if the first and last number of a list is the same

In [18]:
num_of_list_2=[10,20,30,40,50,60,70]
first_list=num_of_list_2[0]
last_list=num_of_list_2[-1]

if first_list == last_list:
        print("True")
else:
        print("False")

False

# Exercise 6: Display numbers divisible by 5 from a list

In [19]:
check =[20,22,70,55,13,30]
for x in check:
    
    if x % 5==0:
        print(x)

20
70
55
30

# Exercise 7: Return the count of a given substring from a string

In [22]:
word = "Elsaka is student,and Elsaka have some friend "
x = word.count("Elsaka")
print("Elsaka appeared ",x,"times")

Elsaka appeared  2 times

# Exercise 8: Print the following pattern

In [24]:
for num1 in range(6):
    for num2 in range(num1):
        print (num2,end=(" "))
    
    print("\n")

0

0 1

0 1 2

0 1 2 3

0 1 2 3 4

# Exercise 9: Check Palindrome Number

In [25]:
N=list(map(int,input().strip().split(" ")))
a,b,c=N[0],N[1],N[2]
if N[0]==N[2]:
    print("Yes. given number is palindrome number")
elif N[0]!=N[2]:
    print("No. given number is not palindrome number")
else:
    print("are you dumb")

4 5 4
Yes. given number is palindrome number

# Exercise 10: Create a new list from a two list using the following condition

In [26]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
for x in list1:
    if x % 2!=0:
        print(x)
for z in list2:
    if z % 2==0:
        print(z)

25
35
40
60
90

# Exercise 11: Write a Program to extract each digit from an integer in the reverse order.

In [27]:
num = list(input("Enter your number "))
    
print((" ").join(num))

Enter your number 4567
4 5 6 7

# Exercise 13: Print multiplication table form 1 to 10

In [1]:
for x in range(1,11):
    for z in range(1,11):
        print(x*z,end=(" "))
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

# Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

In [2]:
def power (base,powe):
    return base**powe
print("5 raises to the power of 4 is = ", power(5,4))

5 raises to the power of 4 is =  625

# Python Input and Output Exercise



# Exercise 1: Accept numbers from a user

In [3]:
num1 = int(input("Enter the first number "))
num2 = int(input("Enter the second number "))
mul=num1*num2
print("the multiplication is",mul)

Enter the first number 5
Enter the second number 9
the multiplication is 45

# Exercise 2: Display three string “Name”, “Is”, “James” as “Name**Is**James”

In [4]:
word = ("my,name,is,elsaka")
print(word.replace(",","**"))

my**name**is**elsaka

# Exercise 3: Convert Decimal number to octal using print() output formatting

In [5]:
# how !!!!

# Exercise 4: Display float number with 2 decimal places using print()

In [8]:
num = 789.654321
print('%.2f' % num)

789.65

# Exercise 5: Accept a list of 5 float numbers as an input from the user

In [10]:
num =input("Enter your list  ")
print("your list is ",list (num))

Enter your list  456789
your list is  ['4', '5', '6', '7', '8', '9']

# Exercise 6: Write all content of a given file into a new file by skipping line number 5

In [11]:
text=open("saka.txt","r+")
for T in text:
    print(T)
text.close()

line1

line2

line3

line4

line5

line6

line7

# Exercise 7: Accept any three string from one input() call

In [12]:
num =list (input().strip().split(" "))
a,b,c = num[0],num[1],num[2]
print (num)

adel mahmoud elsaka
['adel', 'mahmoud', 'elsaka']

# Exercise 8: Format variables using a string.format() method.

In [13]:
total_money = 1000
quantity = 3
price = 450
collect ="i have {0} so can i buy {1} books for {2:.2f} dollars"
print(collect.format(total_money,quantity,price))

i have 1000 so can i buy 3 books for 450.00 dollars

# Exercise 9: Check file is empty or not

In [14]:
file=open("read.txt","r")
for x in file:
    if x==0:
        print("is empty")
    else:
        print("not empty")
file.close()

not empty

# Exercise 10: Read line number 4 from the following file

In [15]:
folder=open("saka.txt","r")
lines = folder.readlines()
print(lines[3])
folder.close()

line4

# Python if else, for loop, and range() Exercises with Solutions

# Exercise 1: Print First 10 natural numbers using while loop

In [16]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

# Exercise 4: Write a program to print multiplication table of a given number

In [17]:
for x in range(1,15):
    rusalt =x*2
    print(rusalt)

2
4
6
8
10
12
14
16
18
20
22
24
26
28

# Exercise 5: Display numbers from a list using loop

In [18]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for x in numbers:
    if x>500:
        break
    elif x>150:
        continue
    elif x%5==0:
        print(x)

75
150
145

# Exercise 6: Count the total number of digits in a number

In [19]:
num =("955254654")
print(len(num))

9

# Exercise 8: Print list in reverse order using a loop

In [20]:
list1 = [10, 20, 30, 40, 50]
list2= reversed(list1)
for x in list2:
    print(x)

50
40
30
20
10

# Exercise 9: Display numbers from -10 to -1 using for loop

In [21]:
for x in range(-10,0):
    print(x)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

# Exercise 10: Use else block to display a message “Done” after successful execution of for loop

In [22]:
for i in range(5):
    print(i)
else:
    print("Done !")

0
1
2
3
4
Done !

# Exercise 11: Write a program to display all prime numbers within a range

In [24]:
start =25
end =50
for x in range(start,end+1):
    if x>1:
        for i in range(2,x):
            if x % i==0:
                break
                
        else :   
            print(x)

29
31
37
41
43
47

# Exercise 12: Display Fibonacci series up to 10 terms

In [23]:
x=int(input("enter your Fibonacci "))
def Fibonacci (x):
    if x==0:
        return 0
    elif x==1:
        return 1
    else:
        return Fibonacci (x-1)+Fibonacci (x-2)
print ( Fibonacci (x))

enter your Fibonacci 11
89

# Exercise 13: Find the factorial of a given number

In [3]:
fact = int(input("Enter some number "))
def factorial (fact):
    if fact==1:
        return 1
    else:
        return fact*factorial(fact-1)
print(factorial(fact))

Enter some number 6
720

# Exercise 15: Use a loop to display elements from a given list present at odd index positions

In [7]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for x in my_list[1::2]:
    print(x)

20
40
60
80
100

# Exercise 16: Calculate the cube of all numbers from 1 to a given number

In [8]:
cube= int(input("any number ?"))
for x in range(1,cube+1):
    print(x**3)

any number ?6
1
8
27
64
125
216

# Python Functions Exercise
# Exercise 1: Create a function in Python

In [9]:
def fanction (name,age):
    return name ,age
print(fanction("Elsaka",22))

('Elsaka', 22)

# Exercise 2: Create a function with variable length of arguments

In [10]:
def fun(*p):
    for x in p:
        print(x)
        
fun(20, 40, 60,70,80)

20
40
60
70
80

# Exercise 3: Return multiple values from a function

In [11]:
def sumb(num1,num2):
    return num1+num2,num1-num2

print(sumb(50,30))

(80, 20)

# Exercise 4: Create a function with a default argument

In [1]:
#It should accept the employee’s name and salary and display both.
#If the salary is missing in the function call then assign default value 9000 to salary

def show_employee(name,salary=9000):
    return name , salary
print ( show_employee("name: Ben and salary is =" ,12000))
print ( show_employee("name: Jessa and salary is" ))

('name: Ben and salary is =', 12000)
('name: Jessa and salary is', 9000)

# Exercise 5: Create an inner function to calculate the addition in the following way

In [2]:
def out(a, b):
    square = a+2
    def add (a,b):
        return a+b
    addition= add (a,b)
    return addition + 5
print(out(5,10))

20

# Exercise 6: Create a recursive function

In [4]:
x = int(input ("Enter a number "))
def sum (x):
    if x==0:
        return 0
    else:
        return x + sum (x-1)
print(sum(x))

Enter a number 10
55

# Exercise 7: Assign a different name to function and call it through the new name

In [7]:
def first_one(name,age):
    return name,age
first_one("saka",22)
second_one=first_one
print(second_one("saka",22))

('saka', 22)

# Exercise 8: Generate a Python list of all the even numbers between 4 to 30

In [17]:
start=4
end=30
def lists(start,end):
    for x in range(start,end+1):
        print(x)
lists(start,end)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

# Exercise 9: Find the largest item from a given list

In [18]:
lis= [4, 6, 8, 24, 12, 2]
print(max(lis))

24

# Python String Exercise with Solutions
# Exercise 1A: Create a string made of the first, middle and last character

In [19]:
str1 = "James"
print(str1[0::2])

Jms

# Exercise 1B: Create a string made of the middle three characters

In [20]:
str2 = "JhonDipPeta"
print(str2[4:7])

Dip